body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Century Gothic", sans-serif;
  background-color: black;
  color: white;

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #800000;
}

.sectionheader {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
  color: white;
}

.jumbotron {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px 20px;
  text-align: left;
  color: white;
  background-color: black;
}

table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.cat-list img {
  width: 200px;
  height: auto;
  display: block;
  margin: 10px auto;
  object-fit: cover;
}

img[src="me.jpg"] {
  width: 200px;
  height: auto;
}

img[src="cats.jpg"] {
  width: 200px;
  height: auto;
}

a {
  color: #800000;  /* Changes link color to maroon red */
  text-decoration: none; /* Optional: removes underline from links */
}

a:hover {
  color: #ff0000; /* Optional: changes link color to bright red when hovered */
  text-decoration: underline; /* Optional: adds underline when the link is hovered */
}